<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!--Parâmetros de configuração-->
		<add key="browser" value="Chrome"/>

		<!--Parâmetros da aplicação-->
		<add key="nome" value="Hugo Peres"/>
		<add key="email" value="contato@inoveteste.com.br"/>
		<add key="assunto" value="Qual o valor do livro impresso?"/>
		<add key="mensagem" value="Gostaria de saber qual o valor do livro impresso + frete para o cep 00000-000"/>
	</appSettings>

</configuration>